@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<h1>Demo Web App</h1>

@{
    String baseUrl = configuration.GetSection("DemoApi").GetSection("BaseURL").Value;
}

<body>

    <div>
        <h2>Click the Following Links to make calls to the API</h2>
        <li><a href=@baseUrl/values/toUpper/hello target="_blank">API - Converts to Upper Case</a></li>
        <li><a href=@baseUrl/values/slow target="_blank">Slow Running GET Request to API</a></li>
        <li><a href=@baseUrl/values/toLower/someval target="_blank">Throws a Null Reference Exception</a></li>
    </div>
    
    <br/>

    <div>
        <label><b>Register your details:</b></label>

        <form name="registrationForm" method="POST" action="@baseUrl/values/register" enctype="text/plain">
            <p>
                <label for="uname">Name: </label> <input id="uname" type="text" name="name" />
            </p>
            <p>
                <label for="email">Email: </label> <input id="emial" type="text" name="email" />
            </p>
            <p>
                <input type="submit" name="Register" value="Register" />
            </p>
        </form>


    </div>



    <li><a href=@baseUrl/values target="_blank">GET Request to API</a></li>
    <li><a href=@baseUrl/values target="_blank">GET Request to API</a></li>



</body>

</html>
